@charset "utf-8";

html {
    width: 240px;
    height: 180px;
}
.my_content {
    background-color: #0c0a66; 
    color: #ffffff;
    font-family: "細明體", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
}
.my_btn {
    color: #ffffff;
    background-color: #008;
}